@model TitleViewModel
@{ 
    ViewData["Title"] = "Home";
}
@section Scripts{ 
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
<div class="text-center">
    <form method="post">
        <div class="form-group">
            <input asp-for="Title" type="text" name="title" class="form-control title-search" id="searchTitle" aria-describedby="searchHelp" placeholder="Search Title" />
        </div>
        <div>
            <span class="form-group text-center">
                <input type="submit" id="save" name="search" class="btn btn-primary" value="Search" />
            </span>
        </div>
    </form>
</div>
